@charset "UTF-8"
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: lightgray;
    }

    header {
        background-image: linear-gradient(to top, rgb(84, 138, 163), rgb(66, 133, 133));
    }

    header > h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: normal;
        text-align: center;
        font-size: 30px;
        color: white;
        text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.753);
    }

    header > h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        text-align: center;
        font-size: 15px;
        color: white;
        text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.753);
    }

    nav {
        
    }

    nav > a {
        text-decoration: none;
        color: white;
        margin-right: 10px;
        padding: 8px;
    }

    nav > a:hover {
        color: rgba(255, 255, 255, 0.61);
    }

    main {
        margin-left: 80px;
        margin-right: 80px;
        box-shadow: 0px 0px 11px 1px rgba(128, 128, 128, 0.719);
        padding: 10px;
        background-color: white;
    }

    h2 {
        font-family: 'Lobster', cursive;
        color:rgb(84, 138, 163);
        font-weight: normal;
    }

    h3 {
        font-family: 'Lobster', cursive;
        background-image: linear-gradient(to right, rgb(84, 138, 163), white);
        color: white;
        font-weight: normal;
        padding: 2px;
    }

    p > a {
        background-color: rgb(112, 184, 218);
        padding: 2px;
        text-decoration: none;
        color: white;
        target="_blank"
    }

    p {
        text-align: justify;
    }

    h4 {
        font-size: 14px;
        font-weight: normal;
    }

    h5 {
        background-color: rgb(84, 138, 163);
        color: white;
        font-size: 18px;
        margin: 0px;
        padding: 10px;
        margin-block-start: 0px;
        margin-block-end: 10px;
    }

    .extra {
        background-color: rgb(118, 198, 235);
        padding: 10px;
        margin-left: 80px;
        margin-right: 80px;
        border-radius: 0px 0px 15px 15px;
    }

    ul {
        display: inline-block;
        align-items: center;
        margin-right: 80px;
    }

    footer {
        background-color: rgb(66, 133, 133);
        color: white;
    }

    footer > p {
        text-align: center;
        font-size: 14px;
        padding: 5px;
    }

    .picture {
        display: flex;
        justify-content: center;
    }

